:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);

  --Red: hsl(0, 87%, 67%);

  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);

  --fs: 1.125rem;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding-inline: 1rem;
  overflow: hidden;
}

img,
picture {
  display: block;
  max-width: 100%;
}

.page {
  max-width: 1100px;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 2rem;
}

header nav {
  flex: 1;
}

.header_nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
  font-weight: 700;
}

.header_nav a {
  text-decoration: none;
  color: var(--Grayish-Violet);
}

.header_nav a:hover {
  color: var(--Very-Dark-Violet);
}

.header_buttons-wrapper {
  display: flex;
  gap: 2rem;
}

button {
  border: none;
  cursor: pointer;
  font-weight: 700;
  width: 100px;
  height: 40px;
  border-radius: 2rem;
  background-color: var(--Cyan);
  color: white;
}

button:hover {
  opacity: 0.6;
}

#login-btn {
  background-color: transparent;
  color: var(--Grayish-Violet);
}

#login-btn:hover {
  color: var(--Very-Dark-Violet);
  opacity: 1;
}

/* MAIN */

/* FIRST SECTION */

.heading-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  height: 482px;
  position: relative;
}

.heading-section img {
  position: absolute;
  top: 0;
  right: -15rem;
}

h1 {
  font-size: 4.5rem;
  color: var(--Very-Dark-Blue);
  line-height: 1.2;
}

p {
  color: var(--Grayish-Violet);
  font-size: 1.4rem;
  line-height: 1.8;
}

.get-started-btn {
  width: 200px;
  height: 50px;
  font-size: var(--fs);
  margin-top: 2rem;
}

/* FOOTER */

.attribution p {
  font-size: 0.7rem;
  text-align: center;
}

.attribution a {
  color: var(--Cyan);
}
