:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);

  --Red: hsl(0, 87%, 67%);

  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);

  --fs: 1.125rem;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 10rem;
  max-width: 1440px;
  margin: 0 auto;
}

.mobile-menu {
  display: none;
}

.nav-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-weight: 700;
  color: var(--Grayish-Violet);
}

.header_nav a:hover {
  color: var(--Very-Dark-Violet);
}

.header_buttons-wrapper {
  display: flex;
  gap: 2rem;
}

button {
  border: none;
  cursor: pointer;
  font-weight: 700;
  width: 100px;
  height: 40px;
  border-radius: 2rem;
  background-color: var(--Cyan);
  color: white;
}

button:hover {
  background-color: hsl(180, 69%, 72%);
}

#login-btn {
  background-color: transparent;
  color: var(--Grayish-Violet);
}

#login-btn:hover {
  color: var(--Very-Dark-Violet);
  opacity: 1;
}

/* MAIN */

/* FIRST SECTION */

.heading-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 482px;
  max-width: 1440px;
  padding-left: 10rem;
  margin-top: 2rem;
  margin-inline: auto;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-wrapper img {
  position: absolute;
  top: 3rem;
  right: -3rem;
  /* z-index: -1; */
}

h1 {
  font-size: 4.5rem;
  color: var(--Very-Dark-Blue);
  line-height: 1.2;
}

p {
  color: var(--Grayish-Violet);
  font-size: 1.4rem;
  line-height: 1.8;
}

.get-started-btn {
  width: 200px;
  height: 50px;
  font-size: var(--fs);
  margin-top: 2rem;
}

/* SHORTEN SECTION */

.section-bg {
  background-color: #eff1f7;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 10rem;
  margin-top: 9rem;
}

.shorten-section {
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transform: translateY(-5rem);
}

.form-wrapper {
  width: 100%;
  height: 170px;
  background: url(images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Dark-Violet);
  display: flex;
  align-items: center;
  padding-inline: 4rem;
  border-radius: 0.5rem;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
}

.input-field {
  position: relative;
}

input {
  width: 100%;
  height: 60px;
  border-radius: 0.5rem;
  border: none;
  outline-color: var(--Very-Dark-Blue);
  font-size: var(--fs);
  padding-left: 2rem;
}

input::placeholder {
  color: var(--Grayish-Violet);
}

input.invalid {
  border: 2px solid var(--Red);
}

input.invalid::placeholder {
  color: var(--Red);
  opacity: 0.5;
}

.error-msg {
  position: absolute;
  bottom: -2rem;
  left: 0;
  color: var(--Red);
  font-style: italic;
  display: none;
}

.error-msg.visible {
  display: block;
}

#submit-btn {
  width: 200px;
  height: 60px;
  border-radius: 0.5rem;
  font-size: var(--fs);
}

.shorten-section ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--fs);
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
}

.original-link {
  color: var(--Very-Dark-Violet);
}

.result {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: var(--Cyan);
}

.copy-btn {
  border-radius: 0.4rem;
}

.copy-btn.copied {
  background-color: var(--Dark-Violet);
}

/* ADVANCED STATS SECTION */

.advanced-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.advanced-stats header {
  text-align: center;
  width: 520px;
}

.advanced-stats h2 {
  font-size: 2.5rem;
  color: var(--Very-Dark-Blue);
}

.advanced-stats p {
  font-size: var(--fs);
}

.advanced-stats article {
  display: flex;
  gap: 2rem;
  height: 350px;
  position: relative;
}

.column {
  background-color: white;
  border-radius: 0.4rem;
  padding: 2rem;
  position: relative;
  max-height: 300px;
}

.column-img {
  background-color: var(--Dark-Violet);
  width: 85px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  top: -3rem;
}

.column h3 {
  font-size: 1.3rem;
  color: var(--Very-Dark-Blue);
  margin-block: 2rem 1rem;
}

.column p {
  font-size: 0.95rem;
}

.first-column {
  align-self: flex-start;
  z-index: 1;
}

.second-column {
  align-self: center;
  z-index: 1;
}

.third-column {
  align-self: flex-end;
  z-index: 1;
}

.line {
  position: absolute;
  background-color: var(--Cyan);
  width: 100%;
  height: 10px;
  top: 40%;
}

/* BOOST SECTION */

.boost {
  background: url(images/bg-boost-desktop.svg);
  background-color: var(--Dark-Violet);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.boost h2 {
  color: white;
  font-size: 2.5rem;
}

.boost button {
  width: 200px;
  height: 60px;
  font-size: var(--fs);
}

/* FOOTER */

footer {
  background-color: var(--Very-Dark-Violet);
  padding-inline: 10rem;
  padding-block: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_nav {
  display: flex;
  gap: 3rem;
  margin-left: 8rem;
}

.footer_nav h3 {
  color: white;
  font-size: var(--fs);
  margin-bottom: 1rem;
}

.footer_nav li {
  color: var(--Gray);
  line-height: 2;
}

.footer_nav li:hover {
  color: var(--Cyan);
}

.socials {
  color: white;
  font-size: 1.6rem;
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.socials i:hover {
  color: var(--Cyan);
}

.attribution p {
  font-size: 0.7rem;
  text-align: center;
  background-color: var(--Very-Dark-Violet);
}

.attribution a {
  color: var(--Cyan);
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  .heading-section,
  .main-header,
  .section-bg,
  footer {
    padding-inline: 7rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  .section_text p {
    font-size: var(--fs);
  }

  .column h3 {
    font-size: 1rem;
  }

  .column p {
    font-size: 0.8rem;
  }

  .footer_nav {
    margin-left: 4rem;
  }

  .socials {
    gap: 1rem;
  }
}

@media (max-width: 950px) {
  .heading-section,
  .main-header,
  .section-bg,
  footer {
    padding-inline: 3rem;
  }
  .heading-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .section_text {
    text-align: center;
  }

  .img-wrapper {
    order: -1;
    margin-bottom: 2rem;
  }

  .img-wrapper img {
    position: initial;
    transform: translateX(16rem);
  }

  .section-bg {
    margin-top: 26rem;
  }

  .column {
    padding: 2rem 1rem;
  }

  .column h3 {
    margin-block: 1rem 0.5rem;
  }

  .footer_nav {
    gap: 1rem;
    margin-left: 1rem;
  }
}

@media (max-width: 768px) {
  .mobile-menu {
    display: flex;
    cursor: pointer;
    color: var(--Grayish-Violet);
    font-size: 1.5rem;
  }

  .mobile-menu:hover {
    color: var(--Very-Dark-Violet);
  }

  .nav-wrapper {
    display: none;
  }

  .nav-wrapper.open {
    display: flex;
    flex-direction: column;
    background-color: var(--Dark-Violet);
    border-radius: 0.8rem;
    padding: 1rem;
    position: absolute;
    top: 6rem;
    right: 1rem;
    left: 1rem;
    z-index: 1;
  }

  .nav-wrapper.open .header_nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    color: white;
    border-bottom: 1px solid var(--Grayish-Violet);
  }

  .nav-wrapper.open .header_nav a:hover {
    color: var(--Grayish-Violet);
  }

  .nav-wrapper.open .header_buttons-wrapper {
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
  }

  .nav-wrapper.open .header_buttons-wrapper button {
    width: 100%;
  }

  .nav-wrapper.open .header_buttons-wrapper #login-btn {
    color: white;
  }

  .nav-wrapper.open .header_buttons-wrapper #login-btn:hover {
    color: var(--Grayish-Violet);
  }

  .img-wrapper img {
    transform: translateX(10rem);
  }

  .advanced-stats header {
    width: auto;
  }

  .form-wrapper {
    height: 200px;
  }

  form {
    grid-template-columns: 1fr;
  }

  .error-msg {
    padding-block: 0.3rem;
  }

  #submit-btn {
    width: 100%;
  }

  .link {
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem;
  }

  .original-link {
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--Gray);
  }

  .result {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .copy-btn {
    width: 100%;
  }

  .advanced-stats {
    margin-bottom: 16rem;
  }

  article {
    flex-flow: column;
    text-align: center;
  }

  .column-img {
    right: 45%;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .footer_nav {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 2.5rem;
  }

  .section_text p,
  .get-started-btn,
  input,
  #submit-btn,
  .advanced-stats p {
    font-size: 1rem;
  }

  .section-bg {
    margin-top: 12rem;
  }

  .form-wrapper {
    padding-inline: 2rem;
  }

  .advanced-stats {
    margin-top: 0;
    margin-bottom: 25rem;
  }

  .column p {
    font-size: 0.8rem;
  }

  .boost h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .img-wrapper img {
    transform: translateX(7rem);
  }
  .form-wrapper {
    background: url(images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Dark-Violet);
  }

  .boost {
    background: url(images/bg-boost-mobile.svg);
    background-color: var(--Dark-Violet);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
